* {
  -webkit-touch-callout: none;
  /*-webkit-user-select: none;*/
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@keyframes see {

      0% {color:#FF0000; border: 2px solid #FF0000;}

13.3% {color: #FF9A00;border: 2px solid #FF9A00;}

26.6% {color: #FEFF00;border: 2px solid #FEFF00;}

40% {color: #00FF00;border: 2px solid #00FF00;}

53.3% {color: #00EFFF;border: 2px solid #00EFFF;}

66.6% {color: #0022FF;border: 2px solid #0022FF;}

80% {color: #9800FF;border: 2px solid #9800FF;}

90% {color: #F100FF;border: 2px solid #F100FF;}

100% {color: #FF0000;border: 2px solid #FF0000;}

      }
	  
	  
	  
	  @keyframes fade1{
		  0% {opacity: 0;}
		  50%{opacity: 0.01;}
		  100%{opacity: 1;}
	  }
	  
	  @keyframes fade2{
		  0% {opacity: 0;}
		  50%{opacity: 0.01;}
		  100%{opacity: 1;}
	  }
	  
	  @keyframes fade3{
		  0% {opacity: 0;}
		  50%{opacity: 0.01;}
		  100%{opacity: 1;}
	  }
	  
	  @keyframes fade4{
		  0% {opacity: 0;}
		  50%{opacity: 0.01;}
		  100%{opacity: 1;}
	  }
	  
	  @keyframes fade5{
		  0% {opacity: 0;}
		  50%{opacity: 0.01;}
		  100%{opacity: 1;}
	  }
	  
	  @keyframes fade6{
		  0% {opacity: 0;}
		  50%{opacity: 0.01;}
		  100%{opacity: 1;}
	  }
	  
	  @keyframes fade7{
		  0% {opacity: 0;}
		  50%{opacity: 0.01;}
		  100%{opacity: 1;}
	  }
	  
	  @keyframes fade8{
		  0% {opacity: 0;}
		  50%{opacity: 0.01;}
		  100%{opacity: 1;}
	  }
	  
	  @keyframes fade9{
		  0% {opacity: 0;}
		  50%{opacity: 0.01;}
		  100%{opacity: 1;}
	  }
	  
	  @keyframes slide1{
		  from{margin-left: -300px;}
		  to{margin-left: 0px;}
	  }
	  
	  @keyframes slide2{
		  from{margin-right: -300px;}
		  to{margin-right: 0px;}
	  }
	  
	  @keyframes bg{
	1%{background:#FF0000}
	3%{background:#ff9900}
	5%{background:#FFFF00}
	7%{background: #99ff33}
	9%{background:#33cc33}
	11%{background:#00ffff}
	13%{background:#0000ff}
	15%{background:#cc66ff}
	17%{background:#ff00ff}
	19%{background:#FF0000}
	21%{background:#ff9900}
	23%{background:#FFFF00}
	25%{background: #99ff33}
	27%{background:#33cc33}
	29%{background:#00ffff}
	31%{background:#0000ff}
	33%{background:#cc66ff}
	35%{background:#ff00ff}
	37%{background:#FF0000}
	39%{background:#ff9900}
	41%{background:#FFFF00}
	43%{background: #99ff33}
	45%{background:#33cc33}
	47%{background:#00ffff}
	49%{background:#0000ff}
	51%{background:#cc66ff}
	53%{background:#ff00ff}
	55%{background:#FF0000}
	57%{background:#ff9900}
	59%{background:#FFFF00}
	61%{background: #99ff33}
	63%{background:#33cc33}
	65%{background:#00ffff}
	57%{background:#0000ff}
	69%{background:#cc66ff}
	71%{background:#ff00ff}
	73%{background:#FF0000}
	75%{background:#ff9900}
	77%{background:#FFFF00}
	79%{background: #99ff33}
	81%{background:#33cc33}
	83%{background:#00ffff}
	85%{background:#0000ff}
	87%{background:#cc66ff}
	89%{background:#ff00ff}
	91%{background:#FF0000}
	93%{background:#ff9900}
	95%{background:#FFFF00}
	97%{background: #99ff33}
	100%{background:#33cc33}
}

@keyframes outline1out{
	0% {opacity: 0;}
	1% {opacity: 1;}
	32% {opacity: 1;}
	33% {opacity: 0;}
	66% {opacity: 0;}
	100% {opacity: 0;}
}

@keyframes outline1{
	0%{src="./screen/outline.png"}
	33%{src="./screen/outline2.png"}
	66%{src="./screen/outline3.png"}
	100%{src="./screen/outline.png"}
}

@keyframes outline2out{
	0% {opacity: 0;}
	32% {opacity: 0;}
	33% {opacity: 1;}
	65% {opacity: 1;}
	66% {opacity: 0;}
	100% {opacity: 0;}
}

@keyframes outline3out{
	0% {opacity: 0;}
	32% {opacity: 0;}
	33% {opacity: 0;}
	65% {opacity: 0;}
	66% {opacity: 1;}
	99% {opacity: 1;}
	100% {opacity: 0;}
}

	  
.demo-swiper .swiper-slide {
  font-size: 25px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  color: #000;
}

.demo-swiper .swiper-slide {
  box-sizing: border-box;
  border: 1px solid #ddd;
  background: #fff;
}

.demo-swiper {
  margin: 0px 0 35px;
  font-size: 18px;
  height: 120px;
}

.demo-swiper.demo-swiper-auto .swiper-slide {
  width: 85%;
}

.demo-swiper.demo-swiper-auto .swiper-slide:nth-child(2n) {
  width: 70%;
}

.demo-swiper.demo-swiper-auto .swiper-slide:nth-child(3n) {
  width: 30%;
}

.app-title {
  padding-bottom: 16px;
}

.header {
  color: #000000;
}

.layout-dark .header {
  color: #fff;
}

.app-card {
  margin: 16px;
  max-width: 375px;
  margin-top: 0px;
  opacity: 0.68;
  background: #fff;
  box-shadow: 0 5px 14px 0 rgba(0, 0, 0, 0.22);
  border-radius: 15px;
  height: auto;
  display: block;
  width: 100%;
  text-align: left;
}

.layout-dark .app-card {
  margin: 16px;
  max-width: 375px;
  margin-top: 0px;
  opacity: 0.68;
  background: #222426;
  box-shadow: 0 5px 14px 0 rgba(0, 0, 0, 0.22);
  border-radius: 15px;
  height: auto;
  display: block;
  width: 100%;
  text-align: left;
}

.layout-dark .app-card .item-title {
  color: #fff;

}

.searchbar::after {
  width: 0px;
}

.app-card-2 {
  text-align: left;
  margin: 0px;
  margin-top: 15px;

  max-width: 375px;
  opacity: 1;
  left:-10px;
  background: #fff;
  box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.22);
  border-radius: 15px;
  height: auto;
  display: block;
  width: 100%;
}

.layout-dark .app-card-2 {
  text-align: left;
  margin: 16px;
  margin-top: 0px;
  max-width: 375px;
  opacity: 0.68;
  background: #222426;
  box-shadow: 0 5px 14px 0 rgba(0, 0, 0, 0.22);
  border-radius: 15px;
  height: auto;
  display: block;
  width: 100%;
}

.app-card .list-block {
  margin-top: -16px;
}

.app-card-2 .list-block ul::before {
  width: 0px;
}

.app-card-2 .list-block {
  padding: 0px;
  margin: 0px;
}

.app-card-2 .list-block ul::after {
  width: 0px;
}

.layout-dark .app-card-2 .list-block .item-title {
  color: #fff;
  
}

.apps-container {
  margin: 16px;
  margin-left: -16px;
}

.app-icon {
  border-radius: 15px 15px 0 0;
  width: 100%;

}

.app-icon2 {
  border-radius: 15px 15px 0 0;
  width: 100%;
   animation-name: outline2;
 animation-delay: 0s;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  margin-top: -500px;
  opacity:0;
}

.app-icon3 {
	
  border-radius: 15px 15px 0 0;
  width: 100%;
   animation-name: outline3;
   animation-delay: 0s;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  margin-top: -500px;
  opacity:0;
}

.app-icon4 {
  border-radius: 15px 15px 0 0;
  width: 100%;
  animation-name: outline1;
  animation-duration: 15s;
  animation-iteration-count: infinite;
}

.app-icon5 {
  border-radius: 15px 15px 0 0;
  width: 100%;
  animation-name: outline1;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  position: relative;
  top: -380px;
}

.mySlides fade1{
	margin-top:0;
}

.mySlides fade2{
	margin-top:-20;
}

.mySlides fade1{
	margin-top:-40;
}


.app-iconz {
  border-radius: 5px;
  width: 40px;
}

.app-icon-2 {
  border-radius: 0 0 15px 15px;
  width: 100%;
}

.app-iconz2 {
  border-radius: 5px;
  width: 25px;
  height:25px;
  position:relative;
  left:0px;
}

.app-iconz2:hover{
	transform: rotate(360deg);
	transition: all 1s;
}

.app-icon4:hover{
	width: 90%;
	transition: all 1s;
}



.app-card .list-block {
  margin: 0px;
  border-radius: 0 0 15px 15px;
}

.item-media .app-icon {
  width: 44px;
  border-radius: 6px;
}

.get-button {
  background: #F0F1F6;
  color: #007AFF;
  border-color: transparent;
  font-weight: bold;
  padding: 5px;
  color: #007aff;
  border-radius: 0px;
  line-height: 27px;
  height: 29px;
}

.app-card-2 .item-title {
  font-weight: bold;
  color: #000;
    left: 10px;

}
.app-card-2 .item-title2 {

  color: #000;
    left: 0px;

}

.app-card .item-title {
  font-weight: bold;
  color: #000;
}

.app-card .list-block .item-inner:after {
  width: 0px;
}

.get-button {
  background: #F0F1F6;
  color: #007AFF;
  font-weight: bold;
}

.featured-block {
  margin: 35px 0;
  padding: 0 15px;
  color: #6d6d72
}

.featured-idea {
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #007AFF;
}

.featured-title {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #000000;
}

.featured-desc {
  margin-top: 0px;
  margin-bottom: 5px;
  font-weight: normal;
}

.featured-idea {
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #007AFF;
}

.layout-dark .featured-title {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #fff;
}

.layout-dark .featured-desc {
  margin-top: 0px;
  margin-bottom: 5px;
  font-weight: normal;
  color: #f7f7f7;
}

.layout-dark .featured-image {
  border-radius: 6px;
}

.hr {
  margin-top: 5px;
  background-color: #ff0000;
  width: 100%;
  height: 1px;
 
}



.layout-dark .hr {
  margin-top: 5px;
  background-color: #ff0000;
  width: 100%;
  height: 1px;
}

.layout-white .searchbar {
  background-color: transparent;
}

.layout-dark .searchbar {
  background-color: transparent;
}

.section-header {
  padding: 0px;
  max-width: 414px;
  text-align: left;
  margin-bottom: -35px;
}

.section-header .item-content {
  padding: 0px;
}

.section-header .item-inner {
  padding: 0px;
}

.layout-white .section-header .item-content {
  background-color: #fff;
}

.layout-white .section-header .item-title {
  color: #000;
  
}

.layout-dark .section-header .item-content {
  background-color: #222426;
}

.layout-dark .section-header .item-title {
  color: #fff;
}

.layout-white .login-screen-content, .layout-white .page, .layout-white .panel, .page.layout-white, .panel.layout-white {
  background-color: hsla(0, 0%, 95%, 1);
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #0000;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.list-block {
	margin: 0 0;
}


/*Tab Icons*/