





#okjacob:hover{margin:0px 0px;}


#bg {
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	background: white;
    margin: 0px;
    transition: 2s;
	z-index:-1000;
	
}
	
#okjacob {
	color:white;
	font-size:50px;
	font-family: Fallback, sans-serif;
	z-index:2;
	position:fixed;
	font-weight:bold;
	text-align:center;
	width:100%;
	transition:0.5s;
	top:300px;
	margin:-1px -1px;
}
	
	
#okjacob2 {
	color:black;
	font-size:50px;
	font-family: Fallback, sans-serif;
	z-index:1;
	position:fixed;
	font-weight:bold;
	width:100%;
	text-align:center;
	margin:1px 1px;
	top:300px;
}	
	
.search{
	
	width:100%;
	text-align:center;
	padding-top:375px;
}


.search input[type=text] {
 text-align:left;
  padding: 8px;
  border: none;
  margin-top: 0px;
  margin-left:13.5px;
  font-size: 17px;
  border-radius:7.5px;
  
}

::placeholder { 
  color:white;
  transition:0.5s;
}
	
*:focus::placeholder {
	color:grey;
	
}

#jsp {
	color:white;
	font-size:30px;
	font-family:Fallback, sans-serif;
	margin-top:25px;
	width:100%;
	text-align:center;
	margin-left:5px;
	opacity:0;
	transition:0.5s;
}




