* {
  -webkit-touch-callout: none;
  /*-webkit-user-select: none;*/
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing:border-box
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  border-radius: 15px;
}

/* Hide the images by default */
.mySlides {
    display: none;
	border-radius: 15px;
}



/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 10px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 5px 5px 0;
}

/* Position the "next button" to the right */
.next {
  right:0px;
  border-radius: 5px 0 0 5px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color:#fff;
  opacity: 0.5;
  color: #000;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #000;
  font-size: 12px;
  padding: 8px ;
  position: absolute;
  bottom: -25px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
 
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .9} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .9} 
  to {opacity: 1}
}

.demo-swiper .swiper-slide {
  font-size: 25px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  color: #000;
}

.demo-swiper .swiper-slide {
  box-sizing: border-box;
  border: 1px solid #ddd;
  background: #fff;
}

.demo-swiper {
  margin: 0px 0 35px;
  font-size: 18px;
  height: 120px;
}

.demo-swiper.demo-swiper-auto .swiper-slide {
  width: 85%;
}

.demo-swiper.demo-swiper-auto .swiper-slide:nth-child(2n) {
  width: 70%;
}

.demo-swiper.demo-swiper-auto .swiper-slide:nth-child(3n) {
  width: 30%;
}

.app-title {
  padding-bottom: 16px;
}

.header {
  color: #000000;
}



.app-card {
  margin: 16px;
  max-width: 375px;
  margin-top: 0px;
  opacity: 0.68;
  background: #fff;
  box-shadow: 0 5px 14px 0 rgba(0, 0, 0, 0.22);
  border-radius: 15px;
  height: auto;
  display: block;
  width: 100%;
  text-align: left;
}





.searchbar::after {
  width: 0px;
}

.app-card-2 {
  text-align: left;
  margin: 0px;
  margin-top: 15px;

  max-width: 375px;
  opacity: 1;
  left:-10px;
  background: #fff;
  box-shadow: 0 5px 14px 0 rgba(0, 0, 0, 0.22);
  border-radius: 15px;
  height: auto;
  display: block;
  width: 100%;
}




.app-card-3 {
  text-align: left;
  margin: 0px;
  margin-top: 15px;

  max-width: 375px;
  opacity: 1;
  left:-10px;
  background: #fff;
  box-shadow: 0 5px 14px 0 rgba(0, 0, 0, 0.22);
  border-radius: 15px 15px 15px 15px;
  height: auto;
  display: block;
  width: 100%;
}



.app-card .list-block {
  margin-top: -16px;
}

.app-card-2 .list-block ul::before {
  width: 0px;
}

.app-card-2 .list-block {
  padding: 0px;
  margin: 0px;
}

.app-card-2 .list-block ul::after {
  width: 0px;
}



.apps-container {
  margin: 16px;
  margin-left: -16px;
}

.app-icon {
  border-radius: 15px 15px 0 0;
  width: 100%;
}
.app-iconz {
  border-radius: 5px;
  width: 40px;
}
.app-iconz2 {
  border-radius: 5px;
  width: 25px;
  height:25px;
  position:relative;
  left: 5px;
}

 .app-iconz2:hover{
	opacity: 1;
	transform: rotate(360deg);
	transition: all 1s;
}

.app-iconz3 {
  border-radius: 5px;
  width: 25px;
  height:25px;
  position:relative;
  left: 5px;
}

.app-iconz3:hover{
	opacity: 1;
	transform: rotate(360deg);
	transition: all 1s;
}

.app-iconz4 {
  border-radius: 5px;
  width: 25px;
  height:25px;
  position:relative;
  left: 5px;
}

.app-iconz10 {
  border-radius: 0px;
 
  position:relative;

}
.app-iconz4:hover{
	opacity: 1;
	transform: rotate(360deg);
	transition: all 1s;
}

.app-iconz5 {
  border-radius: 5px;
  width: 25px;
  height:25px;
  position:relative;
  left: 75px;
}

.app-iconz5:hover{
	opacity: 1;
	transform: rotate(360deg);
	transition: all 1s;
}


.app-icon-2 {
  border-radius: 0 0 15px 15px;
  width: 100%;
}

.app-card .list-block {
  margin: 0px;
  border-radius: 0 0 15px 15px;
}

.item-media .app-icon {
  width: 44px;
  border-radius: 6px;
}

.get-button {
  background: #F0F1F6;
  color: #007AFF;
  border-color: transparent;
  font-weight: bold;
  padding: 5px;
  color: #007aff;
  border-radius: 0px;
  line-height: 27px;
  height: 29px;
}


.app-card-2 .item-title {
  font-weight: bold;
  color: #000;
    left: 10px;

}
.app-card-2 .item-title2 {

  color: #000;
    left: 0px;

}

.app-card .item-title {
  font-weight: bold;
  color: #000;
}

.app-card .list-block .item-inner:after {
  width: 0px;
}

.get-button {
  background: #F0F1F6;
  color: #007AFF;
  font-weight: bold;
}



.featured-block {
  margin: 35px 0;
  padding: 0 15px;
  color: #6d6d72
}

.featured-idea {
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #007AFF;
}

.featured-title {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #000000;
}

.featured-desc {
  margin-top: 0px;
  margin-bottom: 5px;
  font-weight: normal;
}

.featured-idea {
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #007AFF;
}



.hr {
  margin-top: 5px;
  background-color: #ff0000;
  width: 100%;
  height: 1px;
}



.layout-white .searchbar {
  background-color: transparent;
}



.section-header {
  padding: 0px;
  max-width: 414px;
  text-align: left;
  margin-bottom: -35px;
}

.section-header .item-content {
  padding: 0px;
}

.section-header .item-inner {
  padding: 0px;
}

.layout-white .section-header .item-content {
  background-color: #fff;
}





.layout-white .login-screen-content, .layout-white .page, .layout-white .panel, .page.layout-white, .panel.layout-white {
  background-color: hsla(0, 0%, 95%, 1);
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #0000;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.list-block {
	margin: 0 0;
}


/*Tab Icons*/